---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import ContactForm from '@components/ContactForm.astro';
import { getCollection } from 'astro:content';
import createSlug from '../lib/createSlug';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID='home'>
  <div class='pb-12 mt-5'>
    <div class='text-xl py-1'>Hey there 👋</div>
    <div class='text-5xl font-bold'>I'm Chris DeMars</div>
    <div class='text-3xl py-3 font-bold'>Senior Developer Advocate</div>
    <div class='py-2'>
      <text class='text-lg'>
        I’m a tattooed Senior Developer Advocate based in Metro Detroit,
        passionate about frontend tech, storytelling, and building community.
        Outside of work, I’m a competitive Bass angler, paintball player, and
        paranormal enthusiast chasing down UFOs, Cryptids, and Ghosts.
      </text>
    </div>
    <div class='mt-8'>
      <a
        class='btn'
        href='https://twitter.com/saltnburnem'
        target='_blank'
        rel='noopener noreferer'>
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class='text-3xl w-full font-bold mb-5 mt-10'>
      Latest from the blog!
    </div>

    {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            date={post.data.pubDate}
            url={'/blog/' + createSlug(post.data.title, post.slug)}
            target='_self'
            badge={post.data.badge}
          />
          <div class='divider my-0' />
        </>
      ))
    }
  </div>
  <ContactForm />
</BaseLayout>
